header {
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: larger;
    height: 70px;
}

nav h1 {
    text-align: center;
    padding-top: 20px;
}

main {
    height: 500px;
}

form {
    margin: 80px 650px;
    border: 2px black solid;

}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline-block;

}

input[type=text]:hover {

    background-color: rgb(227, 222, 222);
}

input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline-block;


}

input[type=password]:hover {

    background-color: rgb(227, 222, 222);

}

input[type=submit] {
    width: 30%;
    background-color: #333633;
    color: white;
    padding: 14px 5px;
    margin: 20px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

input[type=submit]:hover {
    background-color: #0f100f;
}

label {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 15px;

}

footer {

    text-align: center;
    font-size: 18px;
    height: 60px;
    background-color: black;
    color: white;
    padding-top: 20px;

}